:root {
  --color-primary: #738BFD;
  --color-alert: #F55623;
  --color-bg-0: #242E4C;
  --color-bg-1: #E9EAED;
  --color-bg-2: #F3F4F6;
  --color-bg-3: #FFFFFF;
  --color-title-0: #1E1A50;
  --color-title-1: #1A2950;
  --color-text-0: #1A2950;
  --color-text-1: #767E96;
  --color-text-2: #ACAEB0;
  --color-text-contrast: #FFFFFF;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2145;
  font-family: 'Montserrat', Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.page {
  padding-top: clamp(20px, 10vh, 100px);
  background-color: var(--color-bg-2);
}

.content {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1368px;
  margin: 0 auto;
  padding: 0 clamp(20px, 10vh, 90px);
  color: var(--color-text-0);
  background-color: var(--color-bg-3);
}

.ui-block {
  padding: clamp(20px, 10vh, 50px) 0;
  border-left: 1px solid var(--color-bg-1);
}

.ui-block__title {
  display: inline-block;
  margin: 0 0 20px;
  padding: 4px 10px 3px 30px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-text-1);
  background-color: var(--color-bg-1);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.ui-block__title-description {
  text-transform: capitalize;
}

.ui-block__content {
  padding: 0 0 0 30px;
}

.buttons {
  padding-left: calc(30px - 8px);
}

.ui-block__cell {
  padding: 8px;
}

.summary {
  font-weight: 500;
  font-size: 12px;
  font-style: italic;
  color: var(--color-text-1);
}

.button {
  display: block;
  min-width: 204px;
  margin: 0;
  padding: 16px 20px 17px;
  font: inherit;
  font-weight: 500;
  font-size: 14px;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  transition: box-shadow 0.1s ease-in-out;
}

.button--primary {
  color: var(--color-text-contrast);
  background-color: var(--color-bg-0);
}

.button--secondary {
  color: var(--color-text-0);
  background-color: var(--color-bg-1);
}

.button:hover,
.button[hovered] {
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
}

.colors {
  display: flex;
  margin: 0;
  padding-top: 30px;
  padding-left: 20px;
  font-size: 12px;
  list-style: none;
}

.colors__color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 10px;
  color: var(--color-text);
  background-color: var(--color-bg);
  background-clip: content-box;
}

.colors__label {
  display: block;
  font-size: 10px;
  font-style: italic;
  text-align: center;
  color: var(--color-text-2);
}

.fonts {
  margin: 0;
  padding: 10px 0 0 30px;
  list-style: none;
}

.fonts li {
  margin-bottom: 24px;
}

.title-1,
.title-2,
.title-3 {
  font-weight: 700;
  font-size: 28px;
  color: var(--color-title-0);
}

.title-2 {
  font-size: 16px;
}

.title-3 {
  font-size: 14px;
  color: var(--color-title-1);
}

.link {
  font: inherit;
  color: var(--color-primary);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-1);
}

.alert {
  color: var(--color-alert);
}
